<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/styles.css" />
    <title>Mink</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="index.html"><img src="/public/img/logo.jpg" alt="logo" /></a>
        <h1><a href="/index.html">Mink</a></h1>
      </div>
      <nav>
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="/views/shop.html">Shop</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="/views/register.html">Register</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
