* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 3.5rem;
  border-radius: 50%;
  margin-left: 3rem;
}

nav ul {
  list-style-type: none;
  margin-right: 3rem;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #02337d;
}

.intro {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 7rem 23rem;
  color: #02337d;
}

.name {
  font-size: 27px;
}

.intro-left {
  padding-top: 7%;
}

.intro-left h2 {
  padding: 0.25rem;
}

.intro-left p {
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.intro-right img {
  width: 22.5rem;
  border-radius: 15px;
}

.button {
  display: flex;
  gap: 15px;
}

.button button {
  padding: 0.25rem 0.75rem;
  font-size: 14px;
  border: 2px solid #02337d;
  border-radius: 5px;
  background-color: #02337d;
  color: white;
}

.button button:hover {
  background-color: white;
  color: #02337d;
  border-color: #02337d;
}

.description {
  display: flex;
  text-align: center;
  font-size: 15px;
  padding: 1.5rem 20rem;
  color: #02337d;
}
