* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 3.5rem;
  border-radius: 50%;
  margin-left: 3rem;
}

nav ul {
  list-style-type: none;
  margin-right: 3rem;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.intro {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 7rem 23rem;
}

.name {
  font-size: 27px;
}

.intro-left {
  padding-top: 7%;
}

.intro-left h2 {
  padding: 0.25rem;
}

.intro-left p {
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.intro-right img {
  width: 22.5rem;
  border-radius: 15px;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.button::hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
